pytest==8.4.1
httpx==0.28.1
ruff==0.12.3
sqlalchemy[asyncio]==2.0.41
asyncpg==0.30.0
alembic==1.16.2
argon2-cffi==25.1.0
pydantic-settings==2.10.1
python-multipart==0.0.20
greenlet==3.2.3
aiosqlite==0.21.0
pytest-asyncio==1.0.0
